<div *ngIf="dataLoad==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoad!=false" class="table">
  <thead > 
    <tr>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Model</th>
      <th scope="col"></th>
     <th scope="col">Ücreti<th>
      <th scope="col"> Özellikleri<th>
    </tr>
  <tbody class="table-group-divider">
    <tr *ngFor="let detail of details">
      <th scope="row">{{detail.brandName}}</th>
      <td>{{detail.colorName}}</td>
      <td>{{detail.modelYear}}</td>
    
      
      
      <td></td>
      <td>{{detail.dailyPrice}}</td>
      <td></td>
      <td>{{detail.description}}</td>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table> 

