<div *ngIf="dataLoad==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>



<div class="container">


  <div class="row">
    <div>
      <div class="mb-3">
        <label for="filterText" class="form-label">Marka Arayın</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arayın">
      </div>
      <div *ngIf="filterText.length>2" class="alert alert-primary">
        {{filterText}} aradınız.
      </div>

    </div>


    <div class="col-md-3">
      <app-brand></app-brand>
    </div>

    <div class="col-md-9">


      <table *ngIf="dataLoad!=false" class="table">
        <thead >
          <tr>
            <th scope="col">Marka</th>
            <th scope="col">Renk</th>
            <th scope="col">Model</th>
            <th scope="col"></th>
           <th scope="col">Ücreti<th>
            <th scope="col">İndirimli Ücret</th>
            <th scope="col"> Özellikleri<th>
              <th scope="col"><th></th>


          </tr>
        <tbody class="table-group-divider " >
          <tr *ngFor="let detail of details  |filterPipe:filterText ">
            <td scope="row">{{detail.brandName }}</td>
            <td scope="row">{{detail.colorName |uppercase}}</td>
            <td scope="row">{{detail.modelYear}}</td>



            <td scope="row"></td>
            <td scope="row">{{detail.dailyPrice | currency}}</td>
            <td scope="row"></td>
            <td scope="row">{{detail.dailyPrice | vatAdded:10 | currency}}</td>
            <td scope="row">{{detail.description}}</td>

            <td> <button (click)="addToCart(detail)" type="button" class="btn btn-success btn-xs">Kirala</button>           </td>

          </tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>




    </div>



  </div>

</div>






<!-- <div *ngIf="dataLoad==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div>
  <app-brand></app-brand>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Araç Arayın</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arayın">
</div>
<div *ngIf="filterText.length>2" class="alert alert-primary">
  {{filterText}} aradınız.
</div> -->



<!-- <table *ngIf="dataLoad!=false" class="table">
  <thead >
    <tr>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Model</th>
      <th scope="col"></th>
     <th scope="col">Ücreti<th>
      <th scope="col">İndirimli Ücret</th>
      <th scope="col"> Özellikleri<th>
        <th scope="col"><th></th>

    </tr>
  <tbody class="table-group-divider " >
    <tr *ngFor="let detail of details  |filterPipe:filterText ">
      <td scope="row">{{detail.brandName }}</td>
      <td scope="row">{{detail.colorName |uppercase}}</td>
      <td scope="row">{{detail.modelYear}}</td>



      <td scope="row"></td>
      <td scope="row">{{detail.dailyPrice | currency}}</td>
      <td scope="row"></td>
      <td scope="row">{{detail.dailyPrice | vatAdded:10 | currency}}</td>
      <td scope="row">{{detail.description}}</td>
      <td scope="row">{{detail.brandId}}</td>
      <td> <button (click)="addToCart(detail)" type="button" class="btn btn-success btn-xs">Kirala</button>           </td>
    </tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>
 -->
